/* .modal-backdrop.show {
  opacity: 0 !important;
  display: none;
  background-color: red;
} */

.profile {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show {
  display: none;
}
