.mainFoot {
  width: 100%;
  float: left;
  margin-top: 20px;
  background-color: #f4f6fc;
  font-family: "Open Sans", sans-serif;
}
.footerProp {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  background-color: white;
  /* margin-top: 10px; */
  /* background-color: #f4f6fc; */
}
.footText {
  width: 40%;
  float: left;
}
.footText h3 {
  color: blue;
  font-weight: bold;
}
.appLink {
  width: 20%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  float: left;
}
.appLink button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(8, 8, 66);
  padding: 2%;
  margin-left: 5px;
}
.socialShare {
  width: 40%;
  background: white;
  float: left;
  display: flex;
  margin: 20px 30%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  flex-direction: column;
}
.socialShare div {
  width: 100%;
  float: left;
  margin: 10px;

  /* background-color: red; */
}
.socialShare h4 {
  margin-left: 6.66%;
  font-weight: bold;
}
.socialShare .socialLink {
  /* width: 50%; */
}
.socialLink button {
  width: 40%;
  border: none;
  padding: 2%;
  margin-left: 6.66%;
  margin-bottom: 25px;
}
